<div style="background-color: white;">
  <div class="pt-5 pb-2 px-5">
    <div class="row">
      <div class="offset-1 col-7">
        <h1 class="display-4">Hello!</h1>
        <p class="lead"></p>
        <p class="lead">
          I'm Steven King, a <a href="https://github.com/StevenKing-Profile" target="_blank">developer</a>, living in Atlanta, GA and currently working for <span class="font-weight-bold" style="color: #073980">General Motors</span>.
          Sometimes I freelance.
        </p>
        <p class="lead mt-4">
          <a class="btn btn-primary btn-lg" href="mailto:career@stevenking.net" role="button">Contact Me</a>
        </p>
      </div>
      <div class="col-4">
        <img src="assets/Circle_Headshot_Small.png" />
      </div>
    </div>
  </div>

  <hr class="my-4">

  <div class="py-2 px-5">
    <h6 class="mb-4" style="">My Personal Projects:</h6>
    <div class="container-fluid">
      <div class="row" style="overflow: auto">
        <div class="col-6" style="overflow: inherit;" *ngFor="let project of projects">
          <h2 class="website-title"><a class="website-link" target="_blank" href="{{ project.url }}"> {{ project.title }}</a></h2>
          <p class="p-1">{{ project.description }}</p>
          <img class="center" src="{{ project.asset }}" />
        </div>
      </div>
    </div>
  </div>

  <hr class="my-4">

  <div class="pt-2 pb-3 px-5">
    <h6 class="mb-4" style="">Other Projects:</h6>
    <div class="container-fluid">
      <div class="row" style="overflow: auto">
        <div class="col-12">
          <ul class="work-list">
            <li class="work-list-item" *ngFor="let otherProject of otherProjects">
              <a class="work-list-item-link" target="_blank" href="{{ otherProject.url }}">
                <h3 class="work-title"> {{ otherProject.title }}</h3>
                <span class="work-detail work-role">{{ otherProject.role }}</span>
                <span class="work-detail work-company">{{ otherProject.company }}</span>
                <span class="work-detail work-date">{{ otherProject.year }}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <hr class="my-4">

  <div class="pt-2"></div>
</div>
